/* ------------------------ GENERAL ------------- */
body {
    font-family: 'Segoe UI';
    overflow-y: hidden;
    background-color: #002526;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* ----------------------------     MOBILE      -------------------------- */
.header-mob{
    height: 9vh;
    background-color: black;
}
.landing-title {
    font-size: 28px;
    font-weight: bold;
    color: #04CFD2;
}
.ajustar-col{
    width: 18rem;
} 
/* -------------    CONTAINER   --------- */
.container-mob{
    height: 73vh;
    background-color: #002526;
    overflow-y: scroll;
    width: auto;
    /* height: 16px; */
    /* padding: 20%; */
    /* margin-right: 5rem; */
    white-space: nowrap;
}
.carrousel-mob{
    overflow-x: auto;
}
.card{
    width: 100px;
    height: 50px;
    margin-right: 5rem;
    padding: 0;
    display: inline-block
}
.max-h-w-card{
    max-height: 160px;
    max-width: 160px;
}



/* -------------    FOOTER   --------- */
.footer-mob{
    height: 18vh;
    background-color: black;
}
.img-fot-head-mob{
    max-height: 32px;
    max-width: 32px;
    /* width: 100%;
    height: 100%; */
}
.p-small{
    font-size: 15px;
}


/* --- REPRO MINI --- */
.repro-h{
    background-color: rgb(14, 14, 14);
    height: 8vh;
    border: 1px solid rgb(212, 208, 208) ;
}
.img-repro-mob{
    height: 7.9vh;
    width: 4rem;
    border: 1px solid white;
}
.ajustar-repr{
    position: absolute;
    right: 30px;
    align-self: center;
}
.ico-next{
    max-width: 20px;
    max-height: 20px;
}
.ico-play{
    max-width: 40px;
    max-height: 40px;
}



/* -----------------------------    DESKTOP  ----------------------------- */
.headerDesk{
    /* border-style: solid; */
    /* border-color: chartreuse; */
    background-color: black;
    width: 100%;
    height: 9vh;
}

.searchDesk{
    position: relative;
    padding-left: 9%;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    height: 50%;
}
.ajustarLupa{
    position: absolute;
    left: 4%;
    z-index: 1;
}

.title-nav{
    background-color: #1b2829;
    justify-content: center;
}

.max-h-w{
    max-height: 25px;
    max-width: 28px;
}

.span-user{
    color: gray;
    font-size: 11px;
    font-weight: 700;
}

/* --- POP-UP NOTI --- */
.add-list{
    max-width: 2rem;
    max-height: 2rem;
}
.dropdown-menu{
    margin-right: 4rem;
    background-color: #1b2829;
    color: white;
    width: 21rem;
    height: 16rem;
    border: 4px solid  #04cfd2;
}
.border-b{
    height: 3rem;
    border-bottom: 1px solid  #04cfd2;
}
.left-playlist{
    position: absolute;
    right: 1rem;
}
.dropdown-toggle::after{
    color: transparent;
}
.dropdown-toggle{
    width: 77%;
}
/*  -- FIN HEADER   -- */

/* --   CONTAINER   -- */
.navs{
    /* border-style: solid; */
    background-color: #1b2829;
    justify-content: center;
    height: 25.33vh;
}

.carrouselDesk{
    border-style: solid;
    height: 250px;
}
.btnNav{
    border-style: solid;
    width: 20%;
    height: 50px;
}
.btn-filtrar{
    background: transparent;
    border: none;
}
.filtrar{
    text-align: center;
    display: none;
    z-index: 1;
    background-color: #1b2829;
    margin-top: 18%;
    width: 100%;
    height: 84%;
    border: 1px solid#04cfd2;
}
.filtro-bl{
    display: block;
}
.btn-drop{
    color: gray;
    background-color: white;
    border-radius: 20px;
}
.btn-group{
    width: 50%;
}
.btn-aplicar:hover{
    background-color: turquoise;
}
.w-mm{
    height: 100%;
    width: 130%;
}
.w-year{
    height: 100%;
    width: 120%;
}
.w-month{
    width: 120%;
}
.efecto-hover:hover{
    transition: 1s;
    transform: perspective(2000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(80px);
    box-shadow: 1px 1px 15px white;
}

/* ---   FOOTER  --- */
.footerDesk{
    background-color: black;
    height: 22vh;
}
.reproductor{
    background-color: gray;
    height: 10px;
}
.img-play{
    max-width: 50px;
    max-height: 50px;
}


/* EXPLORAR DESKTOP */
.carrouselExpl{
    border-style: solid;
    height: 25%;
}

.homeDesk {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.homeDesk::-webkit-scrollbar{
    width: 10px;
    background: black;
}

.homeDesk::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 10px;
}

.card{
    background-color: transparent;
    border: 0px;
}

.fixed{
    position: fixed;
    width: 14%;
}

/* -----    CARROUSEL   ---- */
.previous{
    display: flex;
    justify-content: end;
}
.sr{
    display: flex;
    justify-content: end;  
}

.mr-6{
    margin-right: 4rem;
}
.btnNexts{
    width: 80%;
}
.card{
    height: 30%;
    width: 25%;
}
.ocultar{
    display: none;
}
.mostrar{   
    display: block;
    }
.btn-add-image{
    background: transparent;
    border: none;
}
/* -----    CARROUSEL   ---- */

/* --- CORAZON DE LIKE --- */
.btn-like{
    background-color: transparent;
    display: inline-block;
    height: 2%;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 13%;
    border: none;
}
.btn-like img{
    display: block;
    height: 24px;  
    width: 24px;
}
.btn-like:focus{
    outline: none;
}

/* ------------     COLOURS     --------------- */
.img-fondo{
    background-color: black;
    width: 13rem;
    height: 10rem;
    display: flex;
    justify-content: center;
}
.load{
    background-color: white;
    height: 10px;
}
.bg-lblue{
    background-color:  #04cfd2;
}
.c-gray{
    color: gray;
}
.c-lBlue{
    color: #04cfd2;
}
.c-white{
    color: white;
}
.c-white2{
    color: rgb(209, 209, 209);
}


.c-ico{
    color: #b9b9b9;
}

.c-section{
    color: #1b2829;
}
.b-r{
    border-radius: 20px;
}