
.flip-card {
    background-color: transparent;
    width: 81%;
    height: 71%;
    perspective: 1000px; 
    cursor: pointer;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.flip-card-front {
    color: white;
}

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back-image {
    height: 80%;
}


.card-height {
    height: 20.5em;
}

.card-description-container {
    height: 27%;
}

.card-front-image {
    width: 100%;
    height: 100%;
}

.card-deck {
    padding-left: 1em;
}