/* -- General -- */

body {
    font-family: 'Segoe UI';
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


/* -- Landing Header -- */

.landing-header {
    height: 9vh;
    background-color: #040404;
}

.landing-title {
    font-size: 28px;
    font-weight: bold;
    color: #04CFD2;
}

/* -- Landing Main Content -- */

.landing-main {
    height: 81vh;
    background-color: #002526;
}

.sign-up-main {
    height: 100%;
    background-color: #002526;
}

.hero-image-container {
    height: 42vh;
}

#hero-logo {
    height: 90%;
}

.landing-description-container {
    height: 14vh;
}

.landing-description-row-desk {
    height: 40%;
}

.landing-demo-button-row-desk {
    height: 20%;
}

.landing-demo-text-row-desk {
    height: 40%;
}

.landing-description-desk {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    text-align: left;
}

/*
.row {
    border: 1px solid white;
}
*/

.landing-description {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    text-align: center;
}

.demo-test-container {
    height: 26vh;
}

.demo-button-container{
    height: 40%;
}

.demo-text-container {
    height: 60%;
}

.demo-text {
    color: #ECEFEF;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
}

.demo-text-desktop {
    color: #ECEFEF;
    font-size: 30px;
    text-align: left;
    font-weight: lighter;
}

/* -- Landing Footer  -- */

.landing-footer {
    height: 10vh;
    background-color: #040404;
}

.access-button {
    width: 100%;
    background-color: #04CFD2;
    border-radius: 2em;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

.follow-us-text {
    color: #04CFD2;
    font-size: 25px;
}

/* Footer end */

.full-height {
    height: 100%;
}

.align-full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spoiler-logo {
    max-width: 70%;
    max-height: 70%;
}

.volver-button {
    width: 100%;
}