/* ------------------------ GENERAL ------------- */
body {
    font-family: 'Segoe UI';
    overflow-y: hidden;
    background-color: #002526;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* ----------------------------     MOBILE      -------------------------- */
.header-mob{
    height: 9vh;
    background-color: black;
}
.landing-title {
    font-size: 28px;
    font-weight: bold;
    color: #04CFD2;
}
.ajustar-col{
    width: 18rem;
}   
/* -------------    CONTAINER   --------- */
.container-mob{
    height: 73vh;
    background-color: #002526;
}
.border-mob{
    border: 1px solid #04CFD2;
}
.ajustar-p{
    font-size: 90%;
}
.row-height-mob{
    height: 4rem;
}
/* -------------    FOOTER   --------- */
.footer-mob{
    height: 18vh;
    background-color: black;
}
.img-fot-head-mob{
    max-height: 32px;
    max-width: 32px;
    /* width: 100%;
    height: 100%; */
}
.p-small{
    font-size: 15px;
}


/* --- REPRO MINI --- */
.repro-h{
    background-color: rgb(14, 14, 14);
    height: 8vh;
    border: 1px solid rgb(212, 208, 208) ;
}
.img-repro-mob{
    height: 7.9vh;
    width: 4rem;
    border: 1px solid white;
}
.ajustar-repr{
    position: absolute;
    right: 30px;
    align-self: center;
}
.ico-next{
    max-width: 20px;
    max-height: 20px;
}
.ico-play{
    max-width: 40px;
    max-height: 40px;
}


/* ------------     COLOURS     --------------- */
.load{
    background-color: white;
    height: 10px;
}
.c-gray{
    color: gray;
}
.c-lBlue{
    color: #04cfd2;
}
.c-white{
    color: white;
}
.c-white2{
    color: rgb(209, 209, 209);
}
.c-ico{
    color: #b9b9b9;
}
.c-section{
    color: #1b2829;
}
.c-green{
    color: #48f05b;
}
.bg-section{
    background-color: #1b2829;
}
