/* --   NAV  -- */
.header{
    border-style: solid;
    width: 100%;
    height: 70px;
}
.title{
    border-style: solid;
    width: 20%;
    height: 40px;
}
.search{
    border-style: solid;
    width: 10%;
    height: 40px;
}
.config{
    border-style: solid;
    width: 10%;
    height: 40px;
}
/* --   FIN DE NAV  -- */

/* --   CARROUSEL   -- */
.carrousel{
    border-style: solid;
    width: 100%;
    height: 234px;
}
/* --   FIN DE CARROUSEL   -- */

/* --   FOOTER  -- */
.fot{
    border-style: solid;
    width: 100%;
    height: 40px;
}
/* -- FIN FOOTER */


/* --   EXPLORAR    -- */
.back{
    border-style: solid;
    width: 10%;
    height: 40px;
}
/* --   FIN EXPLORAR    -- */


/* --   NOTIFICACIONES  -- */
.not{
    border-style: solid;
    border-color: brown;
    height: 70px;
}
.image{
    border-style: solid;
    width: 20%;
    height: 50px;
}
.desc{
    border-style: solid;
    width: 60%;
    height: 50px;
}
.logo{
    border-style: solid;
    width: 20%;
    height: 50px;
}

/* -----------------------------    DESKTOP  ----------------------------- */
.headerDesk{
    /* border-style: solid; */
    /* border-color: chartreuse; */
    background-color: black;
    width: 100%;
    height: 9vh;
}

.searchDesk{
    position: relative;
    padding-left: 9%;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    height: 50%;
}
.ajustarLupa{
    position: absolute;
    left: 4%;
    top: 8%;
    z-index: 1;
}
.p-user{
    position: absolute;
    font-size: 75%;
    color: gray;
    right: 6.7rem;
}

/*  -- FIN HEADER   -- */

/* --   CONTAINER   -- */
.navs{
    /* border-style: solid; */
    background-color: #1b2829;
    justify-content: center;
    height: 24vh;
}

.carrouselDesk{
    border-style: solid;
    height: 250px;
}
.btnNav{
    border-style: solid;
    width: 20%;
    height: 50px;
}

/* --   FOOTER  -- */
.footerDesk{
    background-color: black;
    height: 19vh;
    margin-top: 1%;
}
.reproductor{
    /* border-style: solid; */
    /* border-color: rgb(0, 38, 253); */
    background-color: gray;
    height: 10px;
}
/* .bottom{
    position: relative;
    top: 6rem;
} */


/* EXPLORAR DESKTOP */
.carrouselExpl{
    border-style: solid;
    height: 25%;
}


/* NOTIFICACIONES */
.noti{
    width: 160%;
    height: 200px;
    border-style: solid;
    border-color: rgb(0, 38, 253);
}

.container{
    height: 70vh;
}

.card{
    background-color: transparent;
    border: 0px;
}


/* -----    CARROUSEL   ---- */
.previous{
    display: flex;
    justify-content: end;
}
.sr{
    display: flex;
    justify-content: end;  
}

.mr-6{
    margin-right: 4rem;
}
/* -----    CARROUSEL   ---- */


/* ------------     COLOURS     --------------- */
.load{
    background-color: white;
    height: 10px;
}
.c-gray{
    color: gray;
}
.c-lBlue{
    color: #04cfd2;
}
.c-white{
    color: white;
}
.c-white2{
    color: rgb(209, 209, 209);
}


.c-ico{
    color: #b9b9b9;
}

.c-section{
    color: #1b2829;
}
body{
    overflow-y: hidden;
    background-color: #002526;
}
