/* --   NAV  -- */
.header{
    border-style: solid;
    width: 100%;
    height: 70px;
}
.title{
    border-style: solid;
    width: 20%;
    height: 40px;
}
.search{
    border-style: solid;
    width: 10%;
    height: 40px;
}
.config{
    border-style: solid;
    width: 10%;
    height: 40px;
}
/* --   FIN DE NAV  -- */

/* --   CARROUSEL   -- */
.carrousel{
    border-style: solid;
    width: 100%;
    height: 234px;
}
/* --   FIN DE CARROUSEL   -- */

/* --   FOOTER  -- */
.fot{
    border-style: solid;
    width: 100%;
    height: 40px;
}
/* -- FIN FOOTER */


/* --   EXPLORAR    -- */
.back{
    border-style: solid;
    width: 10%;
    height: 40px;
}
/* --   FIN EXPLORAR    -- */


/* --   NOTIFICACIONES  -- */
.not{
    border-style: solid;
    border-color: brown;
    height: 70px;
}
.image{
    border-style: solid;
    width: 20%;
    height: 50px;
}
.desc{
    border-style: solid;
    width: 60%;
    height: 50px;
}
.logo{
    border-style: solid;
    width: 20%;
    height: 50px;
}